# Godot 4+ specific ignores
builds/
steamworks_sdk/
wutw/.godot/
wutw/_generated/build_metadata.tres
wutw/bin/~libwutw-gdext.*
wutw-gdext/.sconsign.dblite
wutw-gdext/vc140.pdb
wutw-gdext/enc_temp_folder/
wutw-gdext/src/*.obj
wutw-gdext/src/*.os
wutw-gdext/*.vcxproj*
wutw-gdext/*.sln
wutw-gdext/.vs
.vs
.env
.venv
__pycache__
wutw/addons/godotsteam/win64/~libgodotsteam.windows.*
wutw/addons/Wwise/native/lib/win64/editor/profile/~libwwise.windows.editor.profile.*
wutw/addons/wutw_editor/editor_game_startup_config.tres
.DS_Store
